<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_view}">
<head>
    <meta charset="UTF-8">
    <title>Nowe wydarzenie</title>
</head>
<body>
<div layout:fragment="content" style="width: 500px" class="container text-center">
    <h1 style="font-family: 'Times New Roman', Times, serif">Nowe wydarzenie</h1>
    <form th:action="@{/events}" th:object="${event}" method="post">
        <div class="mb-3">
            <label for="eventName">Nazwa wydarzenia:</label>
            <input type="text" class="form-control" id="eventName" th:field="*{eventName}"/>
        </div>
        <div class="form-floating mb-3">
            <label for="eventDescription">Opis wydarzenia:</label>
            <textarea class="form-control" placeholder="Opis wydarzenia" id="eventDescription" style="height: 200px" th:field="*{eventDescription}"></textarea>
        </div>
        <div class="mb-3">
            <label for="eventPrize">Nagroda (PLN):</label>
            <input type="text" class="form-control" id="eventPrize" th:field="*{eventPrize}"/>
        </div>
        <div class="mb-3">
            <label for="eventDate">Data wydarzenia: </label>
            <input type="date" class="form-control" id="eventDate" th:field="*{eventDate}"/>
        </div>
        <div class="mb-3">
            <label for="EventType">Rodzaj wydarzenia: </label>
            <select id="EventType" class="form-control" th:field="*{eventType}">
                <option value="" th:text="#{event.select-eventType}"></option>
                <option th:each="eventType : ${T(com.infoshareacademy.pl.model.EventType).values()}"
                        th:value="${eventType}"
                        th:text="${eventType}"></option>
            </select>
        </div>
        <ul style="font-weight: bold; color: red" th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
        <button type="submit" class="btn btn-success">Utwórz wydarzenie</button>
        <button type="reset" class="btn btn-secondary">Zresetuj</button>
    </form>

<div style="margin-top: 15px" class="row-flex text-center"><a th:href="@{/events}" class="btn btn-primary">
    POWRÓT
</a></div>
</div>
</body>
</html>