<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page</title>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid text-light">
        <a class="navbar=brand" href="#">
            <img th:src="@{/images/Logo.png}" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/welcome}"><i class="bi bi-house"></i> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/about}">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{https://kalendarzbiegowy.pl/}">Kalendarz biegów tradycyjnych</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/family-run}">Biegaj z rodziną</a></li>
                        <li><a class="dropdown-item" th:href="@{/running-shoes}">Obuwie Biegowe</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex d-none d-md-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-outline-light">Szukaj</button>
            </form>
        </div>
    </div>
</nav>

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <form>
                <h1 class="mb-3" style="text-align: center;"><i class="bi bi-person-fill-add"></i></h1>
                    <div class="mb-2">
                     <label for="newUserName" class="form-label">Imię</label>
                     <input type="text" class="form-control" id="newUserName" placeholder="Podaj swoje imię">
                    </div>
                    <div class="mb-2">
                        <label for="newUserSurname" class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" id="newUserSurname" placeholder="Podaj swoje nazwisko">
                    </div>
                    <div class="mb-2">
                        <label for="newUserPassword" class="form-label">Hasło</label>
                        <input type="text" class="form-control" id="newUserPassword" placeholder="Utwórz hasło">
                    </div>
                    <div class="mb-2">
                        <label for="newUserEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="newUserEmail" placeholder="Podaj swój adres mailowy">
                    </div>
                    <div class="mb-2">
                        <label for="newUserCompany" class="form-label">Nazwa Firmy oraz Adres</label>
                        <input type="text" class="form-control" id="newUserCompany" placeholder="Podaj nazwę oraz adres firmy/organizacji/fundacji">
                    </div>
                    <div class="mb-2 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Akceptuje regulamin oraz warunki</label>
                    </div>
                        <a th:href="@{/welcome}" class="btn btn-success" type="button">Zajerestruj się</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>