<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_view}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewUserForm</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <form>
                <h1 class="mb-3" style="text-align: center;"><i class="bi bi-person-fill-add"></i></h1>
                    <div class="mb-2">
                     <label for="newUserName" class="form-label">Imię</label>
                     <input type="text" class="form-control" id="newUserName" placeholder="Podaj swoje imię">
                    </div>
                    <div class="mb-2">
                        <label for="newUserSurname" class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" id="newUserSurname" placeholder="Podaj swoje nazwisko">
                    </div>
                    <div class="mb-2">
                        <label for="newUserPassword" class="form-label">Hasło</label>
                        <input type="text" class="form-control" id="newUserPassword" placeholder="Utwórz hasło">
                    </div>
                    <div class="mb-2">
                        <label for="newUserEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="newUserEmail" placeholder="Podaj swój adres mailowy">
                    </div>
                    <div class="mb-2">
                        <label for="newUserCompany" class="form-label">Nazwa Firmy oraz Adres</label>
                        <input type="text" class="form-control" id="newUserCompany" placeholder="Podaj nazwę oraz adres firmy/organizacji/fundacji">
                    </div>
                    <div class="mb-2 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Akceptuje regulamin oraz warunki</label>
                    </div>
                        <a th:href="@{/welcome}" class="btn btn-success" type="button">Zaloguj się</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>