<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracks</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Id</th>
    <th>Nazwa biegu</th>
    <th>współrzędna startu X</th>
    <th>współrzędna startu Y</th>
    <th>współrzędna mety X</th>
    <th>współrzędna mety Y</th>
    <th>Stopień trudności</th>
    <th>Dystans</th>
    <th>Lokalizacja</th>
    <th th:text="#{gui.actions}">Actions</th>

  </tr>
  </thead>
  <tbody>
    <tr th:each="track,iterStat: ${track}">
      <td th:text="${iterStat.count}"></td>
      <td th:text="${track.getCompetitionName}"></td>
      <td th:text="${track.getStart.coordinateX}"></td>
      <td th:text="${track.getStart.coordinateY}"></td>
      <td th:text="${track.getFinish.coordinateX}"></td>
      <td th:text="${track.getFinish.coordinateY}"></td>
      <td th:text="${track.getDifficulty}"></td>
      <td th:text="${track.getLength}"></td>
      <td th:text="${track.getTerrain}"></td>

      <td>
        <a th:href="@{/delete-track/{id}(id=${track.getTrackId()})}">
          DELETE
        </a>
        <a>
          EDIT
        </a>
      </td>

  </tr>
  </tbody>
</table>

<div>
  <form action="#" th:action="@{/tracks}" th:object="${track}" method="post">
    <p>Id: <input type="text" th:field="*{trackId}"/></p>
    <p>Nazwa biegu: <input type="text" th:field="*{competitionName}"/></p>
    <p>Start X: <input type="text" th:field="*{start.coordinateX}"/></p>
    <p>Start Y: <input type="text" th:field="*{start.coordinateY}"/></p>
    <p>Meta X: <input type="text" th:field="*{finish.coordinateX}"/></p>
    <p>Meta Y: <input type="text" th:field="*{finish.coordinateY}"/></p>
    <p>Poziom trudności: <input type="text" th:field="*{difficulty}"/></p>
    <p>Dystans: <input type="text" th:field="*{length}"/></p>
    <p>Lokalizacja: <input type="text" th:field="*{terrain}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</div>

</body>
</html>