<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracks</title>
</head>
<body>
<table>
  <thead>
  <tr>

    <th>Id</th>
    <th>Nazwa biegu</th>
    <th>Start</th>
    <th>Meta</th>
    <th>Stopień trudności</th>
    <th>Dystans</th>
    <th>Lokalizacja</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="track, iterStat: ${track}">
    <td th:text="${iterStat.count}"></td>
    <td th:text="${track.getCompetitionName}"></td>
    <td th:text="${track.getStart}"></td>
    <td th:text="${track.getFinish}"></td>
    <td th:text="${track.getDifficulty}"></td>
    <td th:text="${track.getLength}"></td>
    <td th:text="${track.getTerrain}"></td>

  </tr>
  </tbody>
</table>

</body>
</html>