<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>New track</title>

</head>
<body>
<div>
  <form th:action="@{/templates/tracks}" th:object="${track}" method="post">
    <p>Nazwa biegu: <input type="text" th:field="*{competitionName}"/></p>
    <p>Start X: <input type="text" th:field="*{start.x}"/></p>
    <p>Start Y: <input type="text" th:field="*{start.y}"/></p>
    <p>Meta X: <input type="text" th:field="*{finish.x}"/></p>
    <p>Meta Y: <input type="text" th:field="*{finish.y}"/></p>
    <p>Poziom trudności: <input type="text" th:field="*{difficulty}"/></p>
    <p>Dystans: <input type="text" th:field="*{length}"/></p>
    <p>Lokalizacja: <input type="text" th:field="*{terrain}"/></p>
    <p>Rozpoczęcie biegu: <input type="text" th:field="*{startOfCompetition}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
  </form>
  </form>





</div>


</body>
</html>