<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_view}">
<head>
    <meta charset="UTF-8">
    <title>Add locations</title>
</head>
<body>
<div layout:fragment="content" class="container text-left">
    <form th:action="@{/tasks/l}" th:object="${task}" method="post">

    </form>

        <div>
            <input type="text" id="locations" name="locations" min="2" max="10" th:field="*{locations}" value="">Ilość checkpointów:<br/>
            <button type="button" id="fill-details" onclick="addFields()">Dodaj checkpointy (2-10)</button>
            <div id="container"/>
        </div>

</div>
</body>
</html>