<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_view}">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
          integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
          crossorigin=""></script>


  <title>New track</title>
  <style>#map { height: 600px; }</style>
</head>
<body>
<div layout:fragment ="content" class="container text-left">
  <h1 >Nowa trasa</h1>
  <form th:action="@{/tracks}" th:object="${track}" method="post">
    <div style="margin-top: 5px">
    <p>Nazwa biegu: <input type="text" placeholder="Nazwa nowego biegu" th:field="*{competitionName}"/></p>
    </div>
    <p>Szerokość geograficzna startu: <input type="number" min="14.07" max="24.09"  step="0.001" th:field="*{start.x}"/></p>
    <p>Długość geograficzna startu: <input type="number" min="14.07" max="24.09"  step="0.001" th:field="*{start.y}"/></p>
    <p>Szerokość geograficzna mety: <input type="number" min="49" max="54.5"  step="0.001" th:field="*{finish.x}"/></p>
    <p>Długość geograficzna mety: <input type="number" min="14.07" max="24.09"  step="0.001" th:field="*{finish.y}"/></p>
    <div style="margin-top: 5px" >Poziom trudności:
      <input type="radio" id="difficultyChoice1" name="difficulty" value="łatwy"/>
      <label for="terrainChoice1">łatwy</label>
      <input type="radio" id="difficultyChoice2" name="difficulty" value="średni"/>
      <label for="terrainChoice2">średni</label>
      <input type="radio" id="difficultyChoice3" name="difficulty" value="trudny" th:field="*{difficulty}"/>
      <label for="terrainChoice3">trudny</label>
    </div>
    <p>Dystans (km): <input id="length_input" type="range" min="2" max="20" step="1" th:field="*{length}"/>
      <output id="value"></output>
    </p>
    <div style="margin-top: 5px"> Lokalizacja: <input type="radio" id="terrainChoice1" name="terrain" value="miejski"/>
      <label for="terrainChoice1">miejski</label>
      <input type="radio" id="terrainChoice2" name="terrain" value="leśny"/>
      <label for="terrainChoice2">leśny</label>
      <input type="radio" id="terrainChoice3" name="terrain" value="górzysty" th:field="*{terrain}"/>
      <label for="terrainChoice3">górzysty</label>
    </div>
    <ul th:if="${#fields.hasErrors('*')}">
      <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
    <p><input class="btn btn-success" type="submit" value="Zatwierdź"/>
      <input class="btn btn-secondary" type="reset" value="Zresetuj"/></p>
  </form>
  <div id="map"></div>
  <script th:inline="javascript">
    var options = {center: [54.21, 18.38],zoom: 12}
    var map = L.map('map', options);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 20,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var popup = L.popup();

    function onMapClick(e) {
      var coord = e.latlng;
      var lat = coord.lat;
      var lng = coord.lng;

      popup
              .setLatLng(e.latlng)
              .setContent("Szerokość geograficzna: " +lat + "\nDługość geograficzna: " + lng)
              .openOn(map);

    }

    map.on('click', onMapClick);


  //   map.on('click', function(event){
  // var lat = event.latlng.lat;
  // var lng = event.latlng.lng;
  // var popup = <form action="{%url 'note'%}" method="POST">
  //   // {% csrf_token %}
  //   <div class="form=group">
  //     <label for="note-heading">Note heading</label>
  //     <input type="text" name="note-heading" class="form-control" placeholder="Enter note heading"></input>
  //     </div>
  //   <input type="hidden" name="lat" value="${lat}"></input>
  //   <input type="hidden" name="lng" value="${lng}"></input>
  //            <div class="form-group">
  //                    <label for="note">Note</label>
  //              <textarea class="form-control" name="note">Enter note here</textarea>
  //            </div>
  //      <button type="submit" class="btn btn-primary">Submit</button>
  // </form>
  //
  // var marker = L.marker([lat,lng]).bindPopup(popup);
  //     marker.addTo(map);
  //
  //       console.log("user right-clicked on map coordinates: " + event.latlng.toString());
  //       L.marker(event.latlng).addTo(map);
  //   });









    // var map = L.map("map").setView([48.85, 2.35], 12);
    //
    // L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    //   attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    // }).addTo(map);
    //
    // map.on("contextmenu", function (event) {
    //   console.log("user right-clicked on map coordinates: " + event.latlng.toString());
    //   L.marker(event.latlng).addTo(map);
    // });

  </script>


  <script>
    const value = document.querySelector("#value")
    const input = document.querySelector("#length_input")
    value.textContent = input.value
    input.addEventListener("input", (event) => {
      value.textContent = event.target.value
    })
  </script>
  <a href="/tracks" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> Powrót do listy tras</a>
</div>

</body>
</html>