<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_view}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
          integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
          crossorigin=""></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <title>Checkpoints</title>
  <style>#map { height: 600px; }</style>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div layout:fragment ="content">
  <table style="margin: 5px"  id="data-table" class="table">
    <div id="map" class="container">
      <form th:action="@{/tracks}" th:object="${track}" method="post">
        <div class="container">
          <tr>
            <th >Szerokość</th>
            <th>Długość</th>
            <th>Point Name</th>
          </tr>
        </div>
      </form>
    </div>
  </table>

  <script th:inline="javascript">

    function updateDataTable (map) {
      let dataTableBody = $('#data-table tbody')
      dataTableBody.html('<tr></tr>')
      map.eachLayer(layer => {
        let popup = layer.getPopup()
        if (popup) {
          let text = $(popup.getContent()).find('.popup-span').text()
          let latLng = layer.getLatLng()
          dataTableBody.append(
                  $('<tr></tr>').append(
                          $('<td></td>').text(latLng.lat),
                          $('<td></td>').text(latLng.lng),
                          $('<td></td>').text(text),
                  )
          )
        }
      })
    }

    function createPopupContents(marker) {
      let popupContents = $('<div></div>')
      popupContents.append(
              $('<span></span>').addClass('popup-span').text('Checkpoint ')
      )


      let trashButton = $('<button><i class="fas fa-trash" />Usuń</button>')
              .on('click', event => {
                marker.remove()
                updateDataTable(map)
              })

      popupContents.append(trashButton)
      return popupContents[0]
    }

    var options = {center: [54.349, 18.651],zoom: 12}
    var map = L.map('map', options);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 20,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let popupOpen = null
    map.on('preclick', mapEvent => {
      popupOpen = false
      map.eachLayer(layer => {
        if (layer.getPopup() && layer.getPopup().isOpen()) {
          popupOpen = true
        }
      })
    })

    map.on('click', mapEvent => {
      if (!popupOpen) {
        let marker = L.marker(mapEvent.latlng)
        marker.addTo(map).bindPopup(createPopupContents(marker));
        updateDataTable(map)
      }
    })
    updateDataTable(map)

  </script>

  <a href="/tracks" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> Powrót do listy tras</a>
</div>

</body>
</html>