<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_view}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content" class="container text-left">
    <h1>Edycja trasy</h1>
    <form th:action="@{/tracks/{trackId}/edit(trackId=${track.trackId})}" th:object="${track}" method="post">
        <div style="margin-top: 5px">
            <p>Nazwa biegu: <input type="text" placeholder="Nazwa nowego biegu" th:field="*{competitionName}"/></p>
        </div>
        <p>Szerokość geograficzna startu: <input type="number" min="49" max="54.5" step="0.001" th:field="*{start.x}"/>
        </p>
        <p>Długość geograficzna startu: <input type="number" min="14.07" max="24.09" step="0.001" th:field="*{start.y}"/></p>
        <p>Szerokość geograficzna mety: <input type="number" min="49" max="54.5" step="0.001" th:field="*{finish.x}"/>
        </p>
        <p>Długość geograficzna mety: <input type="number" min="14.07" max="24.09" step="0.001" th:field="*{finish.y}"/>
        </p>
        <div style="margin-top: 5px">Poziom trudności:
            <label for="difficultyChoice1"></label><input type="radio" id="difficultyChoice1" name="difficulty" value="łatwy" th:field="*{difficulty}"/>
            <label for="difficultyChoice1">łatwy</label>
            <label for="difficultyChoice2"></label><input type="radio" id="difficultyChoice2" name="difficulty" value="średni" th:field="*{difficulty}"/>
            <label for="difficultyChoice2">średni</label>
            <label for="difficultyChoice3"></label><input type="radio" id="difficultyChoice3" name="difficulty" value="trudny" th:field="*{difficulty}"/>
            <label for="difficultyChoice3">trudny</label>
        </div>
        <p>Dystans (km): <input id="length_input" type="range" min="2" max="20" step="1" th:field="*{length}"/>
            <output id="value"></output>
        </p>
        <div style="margin-top: 5px"> Lokalizacja:
            <input type="radio" id="terrainChoice1" name="terrain" value="miejski" th:field="*{terrain}"/>
            <label for="terrainChoice1">miejski</label>
            <input type="radio" id="terrainChoice2" name="terrain" value="leśny" th:field="*{terrain}"/>
            <label for="terrainChoice2">leśny</label>
            <input type="radio" id="terrainChoice3" name="terrain" value="górzysty" th:field="*{terrain}"/>
            <label for="terrainChoice3">górzysty</label>
        </div>
        <div>
            <label for="event">Wydarzenie: </label>
            <select id="event" class="form-control" name="track.eventId">
                <option value="" th:text="${currentEvent.eventName}"></option>
                <option th:each="event : ${allEvents}"
                        th:value="${event.eventId}"
                        th:text="${event.eventName}"></option>
            </select>
        </div>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
        </ul>
        <p><input class="btn btn-success" type="submit" value="Zatwierdź"/>
            <input class="btn btn-secondary" type="reset" value="Zresetuj"/></p>
    </form>
    <a href="/tracks" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> Powrót do listy tras</a>
    <script>
        const value = document.querySelector("#value")
        const input = document.querySelector("#length_input")
        value.textContent = input.value
        input.addEventListener("input", (event) => {
            value.textContent = event.target.value
        })
    </script>
</div>


</body>

</html>
