.popup-span {
    margin-right: 5px;
}

table {
    font-family: Garamond;
    width: 100%;
    border-collapse: collapse;
}

table th {
    border-bottom: 2px solid #dee2e6;
}

table th, table td {
    padding: 0.5rem;
    border-top: 1px solid #dee2e6;
}