<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
        type="text/css"/>
  <title>Tracks</title>
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Wyścigi GeoRunners</th>
    <th></th>
  </tr>
  </thead>
</table>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nazwa biegu</th>
    <th scope="col">Poziom trudności</th>
    <th scope="col">Teren</th>
    <th scope="col">Działania</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="track,iterStat: ${tracks}">
    <td th:text="${iterStat.count}"></td>
    <td th:text="${track.getCompetitionName}"></td>
    <td th:text="${track.getDifficulty}"></td>
    <td th:text="${track.getTerrain}"></td>
    <td>
      <a th:href="@{/tracks/delete-track/{trackId}(trackId=${track.trackId})}" class="btn btn-danger">
        Usuń
      </a>

      <a th:href="@{/map}" class="btn btn-success">
        Pokaż trasę
      </a>

    </td>
  </tr>

  </tbody>
</table>
<a th:href="@{/tracks/create}" class="btn btn-success">
  Utwórz nową trasę
</a>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#locales").change(function () {
      var selectedOption = $('#locales').val();
      if (selectedOption != ''){
        window.location.replace('?lang=' + selectedOption);
      }
    });
  });
</script>
</html>