<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_view}">
<head>

    <meta charset="UTF-8">
    <style>
        tbody tr:hover {
            background-color: #f5f5f5;
        }
    </style>

    <title>Tracks</title>

</head>
<body>
<div layout:fragment="content" class="container text-left">
    <div th:if="${trackEditionSuccess} !=null">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="oi oi-check"></i>
            <span>
          <a th:text="${trackEditionSuccess}"></a>
         </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
    <div th:if="${trackEditionFail} != null">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="oi oi-check"></i>
            <span>
          <a th:text="${trackEditionFail}"></a>
         </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
    <div th:if="${trackDeletionSuccess} != null">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="oi oi-check"></i>
            <span>
          <a th:text="${trackDeletionSuccess}"></a>
         </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>
    <div th:if="${trackAdditionSuccess} !=null">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="oi oi-check"></i>
            <span>
          <a th:text="${trackAdditionSuccess}"></a>
         </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    </div>

    <form style="margin: 5px" action="/tracks" method="get">
        <label for="txtSearch">Wyszukaj trasę:</label>
        <input id="txtSearch" type="text" name="name" th:value="${name}">
        <button class="btn btn-primary btn-sm" type="submit">Wyszukaj</button>
        <a th:if="${name} != null" class="btn btn-outline-dark btn-sm" href="/tracks">Resetuj</a>
    </form>
    <div th:if="${tracks.size() == 0}" class="alert alert-danger" role="alert">
        <div>
            Nie znaleziono trasy, która spełnia podane kryteria!
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Wyścigi GeoRunners</th>
        </tr>
        </thead>
    </table>
    <table class="table table-bordered">
        <thead>
        <div class="container">
            <tr>
                <th class="col-1">#</th>
                <th class="col-2">Nazwa biegu</th>
                <th class="col-4">
                    <form action="/tracks" method="get">
                        <label for="txtSearch2">Poziom trudności:</label>
                        <select id="txtSearch2" type="text" name="difficulty" th:value="${difficulty}">
                            <option selected>---</option>
                            <option th:value="łatwy">łatwy</option>
                            <option th:value="średni">średni</option>
                            <option th:value="trudny">trudny</option>
                        </select>
                        <button class="btn btn-outline-success btn-sm" type="submit">Filtruj</button>
                        <a th:if="${difficulty} != null" class="btn btn-outline-info btn-sm" href="/tracks">Powrót</a>
                    </form>
                </th>
                <th class="col-1">Teren</th>
                <th class="col-2">Wydarzenie</th>
                <th class="col-2">Działania</th>
            </tr>
        </div>
        </thead>
        <tbody>
        <tr th:each="track, iterStat: ${tracks}"
            th:onclick="|window.location.href='/tracks/' + ${track.trackId}|">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${track.getCompetitionName}"></td>
            <td th:text="${track.getDifficulty}"></td>
            <td th:text="${track.getTerrain}"></td>
            <td th:text="${track.event.eventName}"></td>
            <td>
                <a th:href="@{/tracks/delete/{id}(id=${track.getTrackId})}" class="btn btn-danger">
                    Usuń
                </a>
                <a th:href="@{/tracks/edit-track/{trackId}/(trackId=${track.trackId})}" class="btn btn-info">
                    Edytuj
                </a>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/tracks/create}" class="btn btn-info">
        Utwórz nową trasę
    </a>
</div>
</div>
</body>
</html>